<div class="jumbotron text-center p-5 mb-4 bg-light rounded-3">
  <h1 class="jumbotron-heading"><%= t('blacklight.welcome') %></h1>

  <p class="lead">Catalogue du don Claude Gingras.</p>

  <p>Il s'agit d'une preuve de concept pour illustrer ce qu'on peut faire
      avec un ensemble de notices bibliographiques et de descriptions de dossiers
      d'archives, dans une application de type "catalogue".</p>

  <p>Les sources de cette application, et les instructions pour l'installer
      sont disponibles surs <a href="https://github.com/bibudem/gingras-blacklight-poc">GitHub</a>.</p>

  <p>
    <a href="https://umontreal.ca">
      <img style="margin-bottom: 45px;" width="153" height="60" src="https://bib.umontreal.ca/typo3conf/ext/udem_bootstrap/Resources/Public/udem-logo.svg"/>
    </a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a href="https://bib.umontreal.ca">
      <img width="153" height="60" src="https://bib.umontreal.ca/typo3conf/ext/udem_bib/Resources/Public/Images/logo-bib.svg"/>
    </a>
  </p>

</div>

<p>Blacklight <%= Blacklight::VERSION %></p>
